/* google fonts cdn */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Most useful Fonts */
.neue-fonts {
  font-family: "Bebas Neue", cursive;
}
.roboto-fonts {
  font-family: "Roboto", sans-serif;
}

.menu-color {
  color: #3c3c3c;
}

.btn-bacground {
  background-color: #3d4ff3;
}

.banner-background {
  background-color: #fff9f4;
}

.title1-color {
  color: #fa804c;
}
.title2-color {
  color: #363958;
}

.banner-title {
  font-size: 80px;
}

.btn-cart {
  width: 170px;
  height: 60px;
}
.btn-cart img {
  width: 30px;
}

.card-img-bg {
  background-color: #80808024;
}

.card-width {
  width: 30%;
}
